body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Tema dark */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    background-color: #EC4D2D;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    text-align: center;
    justify-content: center; /* Centraliza o texto no rodapé */
}

.header h1, .footer p {
    font-size: 24px;
    margin: 0;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.menu a:hover {
    color: #e0e0e0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section-header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
}

.server-header {
    background-color: #2A2A2A;
}

.subscription-header {
    background-color: #343434;
}

.servers-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.server-card {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.server-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.server-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-tag {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.status-tag.online {
    background-color: green;
}

.status-tag.offline {
    background-color: red;
}

.progress-bar {
    background-color: #333;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center; /* Centraliza o texto verticalmente */
    justify-content: center; /* Centraliza o texto horizontalmente */
    color: #fff;
}

.progress {
    background-color: #EC4D2D;
    height: 100%;
    width: 0%; /* A largura é ajustada pelo JavaScript */
    position: absolute;
    left: 0;
    top: 0;
}

.progress-text {
    position: relative;
    z-index: 2; /* Garante que o texto fique sobre a barra de progresso */
}

.server-description {
    margin-top: 10px;
    font-size: 14px;
}

.connect-button {
    background-color: #EC4D2D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.connect-button:hover {
    background-color: #c5533c;
}

.subscription-section {
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
}

.subscription-section ul {
    list-style-type: none;
    padding: 0;
}

.subscription-section ul li {
    margin: 5px 0;
}

.subscription-button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.pagseguro {
    background-color: #FFC801; /* Cor característica do PagSeguro */
}

.paypal {
    background-color: #003087; /* Cor primária do PayPal */
}

.pagseguro:hover, .paypal:hover {
    opacity: 0.9;
}

.fa-pagseguro, .fa-paypal {
    margin-right: 8px;
}
